@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family:'Comic Sans MS'">Welcome, Come and Build Your own Empire!!!!!!!!</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <p>Please click the login button below to log in</p>
</div>
